<ion-view title="Quinta" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="quinta-card211">
      <ion-item class="item-icon-left" id="quinta-list-item31">
        <i class="icon ion-image"></i>Café da manhã</ion-item>
      <div class="item item-body" id="quinta-list-item-container17">
        <div id="quinta-markdown22" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 pão
            <br>2 fatias de queijo minas
            <br>1 copo de leite</p>
        </div>
      </div>
    </div>
    <div class="list card" id="quinta-card212">
      <ion-item class="item-icon-left" id="quinta-list-item32">
        <i class="icon ion-ionic"></i>Almoço</ion-item>
      <div class="item item-body" id="quinta-list-item-container18">
        <div id="quinta-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Salada variada
            <br>1 peito frango
            <br>1 colher de arroz</p>
        </div>
      </div>
    </div>
    <div class="list card" id="quinta-card213">
      <ion-item class="item-icon-left" id="quinta-list-item33">
        <i class="icon ion-ionic"></i>Jantar</ion-item>
      <div class="item item-body" id="quinta-list-item-container19">
        <div id="quinta-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 colher de arroz
            <br>1 colher de feijao
            <br>2 peitos de frango</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>