<ion-view title="Restaurantes Amigos" id="page12">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Add some
        <b>HTML</b> for
        <u>flavor</u>
      </p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14700.997247632946!2d-43.17001449999999!3d-22.904173399999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f3b3b7858cb8c0c!2zUHJhw6dhIFhW!5e0!3m2!1spt-BR!2sbr!4v1495387898443" width="100%"
        height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </ion-content>
</ion-view>