<ion-view title="Sábado e Domingo" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="sBadoEDomingo-card22">
      <ion-item class="item-icon-left" id="sBadoEDomingo-list-item16">
        <i class="icon ion-image"></i>Café da manhã</ion-item>
      <div class="item item-body" id="sBadoEDomingo-list-item-container7">
        <div id="sBadoEDomingo-markdown11" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 pão
            <br>2 fatias de queijo minas
            <br>1 copo de leite</p>
        </div>
      </div>
    </div>
    <div class="list card" id="sBadoEDomingo-card23">
      <ion-item class="item-icon-left" id="sBadoEDomingo-list-item21">
        <i class="icon ion-ionic"></i>Almoço</ion-item>
      <div class="item item-body" id="sBadoEDomingo-list-item-container9">
        <div id="sBadoEDomingo-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Salada variada
            <br>1 peito frango
            <br>1 colher de arroz</p>
        </div>
      </div>
    </div>
    <div class="list card" id="sBadoEDomingo-card24">
      <ion-item class="item-icon-left" id="sBadoEDomingo-list-item23">
        <i class="icon ion-ionic"></i>Jantar</ion-item>
      <div class="item item-body" id="sBadoEDomingo-list-item-container10">
        <div id="sBadoEDomingo-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 colher de arroz
            <br>1 colher de feijao
            <br>2 peitos de frango</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>