<ion-view title="Sexta" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="sexta-card217">
      <ion-item class="item-icon-left" id="sexta-list-item37">
        <i class="icon ion-image"></i>Café da manhã</ion-item>
      <div class="item item-body" id="sexta-list-item-container23">
        <div id="sexta-markdown28" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 pão
            <br>2 fatias de queijo minas
            <br>1 copo de leite</p>
        </div>
      </div>
    </div>
    <div class="list card" id="sexta-card218">
      <ion-item class="item-icon-left" id="sexta-list-item38">
        <i class="icon ion-ionic"></i>Almoço</ion-item>
      <div class="item item-body" id="sexta-list-item-container24">
        <div id="sexta-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Salada variada
            <br>1 peito frango
            <br>1 colher de arroz</p>
        </div>
      </div>
    </div>
    <div class="list card" id="sexta-card219">
      <ion-item class="item-icon-left" id="sexta-list-item39">
        <i class="icon ion-ionic"></i>Jantar</ion-item>
      <div class="item item-body" id="sexta-list-item-container25">
        <div id="sexta-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 colher de arroz
            <br>1 colher de feijao
            <br>2 peitos de frango</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>