<ion-view title="Terça" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="terA-card28">
      <ion-item class="item-icon-left" id="terA-list-item28">
        <i class="icon ion-image"></i>Café da manhã</ion-item>
      <div class="item item-body" id="terA-list-item-container14">
        <div id="terA-markdown19" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 pão
            <br>2 fatias de queijo minas
            <br>1 copo de leite</p>
        </div>
      </div>
    </div>
    <div class="list card" id="terA-card29">
      <ion-item class="item-icon-left" id="terA-list-item29">
        <i class="icon ion-ionic"></i>Almoço</ion-item>
      <div class="item item-body" id="terA-list-item-container15">
        <div id="terA-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Salada variada
            <br>1 peito frango
            <br>1 colher de arroz</p>
        </div>
      </div>
    </div>
    <div class="list card" id="terA-card210">
      <ion-item class="item-icon-left" id="terA-list-item30">
        <i class="icon ion-ionic"></i>Jantar</ion-item>
      <div class="item item-body" id="terA-list-item-container16">
        <div id="terA-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 colher de arroz
            <br>1 colher de feijao
            <br>2 peitos de frango</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>