<ion-view title="Viva bem. Coma saúde. " id="page11" style="background-color:#FA07A3;">
  <ion-content padding="true" style="background: url(img/dHh5YFfWTGSFRrHKcyZj_imgdestacada-frutas-e-verduras-em-cima-de-um-fundo-cinza.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="vivaBemComaSaDe-form4" class="list">
      <div class="spacer" style="width: 300px; height: 129px;"></div>
      <h1 id="vivaBemComaSaDe-heading5" style="color:#FF0000;font-weight:600;text-align:center;">Easy Menu</h1>
      <h3 id="vivaBemComaSaDe-heading6" style="color:#FF0202;text-align:center;">A inovação no prato!</h3>
      <ion-list id="vivaBemComaSaDe-list10">
        <label class="item item-input" id="vivaBemComaSaDe-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="vivaBemComaSaDe-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.home()" id="vivaBemComaSaDe-button11" class="button button-stable button-block">Log in</a>
      <a ui-sref="signup()" id="vivaBemComaSaDe-button12" style="font-weight:500;" class="button button-positive button-block button-clear">Crie sua conta</a>
    </form>
  </ion-content>
</ion-view>